<h1> Edit a Grocery List Item</h1>

<%= form_for @grocery do |f| %>

	<%= label_tag(:item, "Item:") %>
	<%= f.text_field :item %></br>

	<%= label_tag(:details, "Details:") %>
	<%= f.text_area :details %>

	<%= f.submit "Update" %>

<% end %>